.classpath
.project
.settings/
.metadata/
target/
Servers/
bin/
build/
*.iml
.idea/
.springBeans
.DS_Store
.java-version
*.bak
.intellij/
.intelliBeans/.intellij/
.idea/
.intelliBeans/
*.iml
target/
*.bak

